:root {
  --page-width: 70%;
  --main-background: white;
  --nav-background: #c8c8c6;
  --nav-current: #9c706d;
  --body-background: #c4c8c7;
  --nav-link: #4d1d18;
  --nav-link-hover: #555;
  --price-background: #c8c8c6;
}
@media (max-width: 1240px) {
  :root {
    --page-width: 80%;
  }
}
@media (max-width: 1060px) {
  :root {
    --page-width: 90%;
  }
}
@media (max-width: 920px) {
  :root {
    --page-width: 95%;
  }
}
* {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Calibri, Arial;
  background: transparent;
}
/* page wrap start */
html {
  font-size: 1em;
}
body {
  background: var(--body-background);
}
#page-wrap {
  margin: 1rem auto;
  padding: 20px;
  background: var(--main-background);
  width: var(--page-width);
}
@media (max-width: 480px) {
  #page-wrap {
    padding: 10px;
}
}
/* page wrap end */  
  
/* header start */
#header-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#logo {
  width: 100%;
}
#logo img, #logo a {
  display: block;
  width: 590px;
  height: auto;
}
#nav-bar-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  height: 3rem;
  border: 3px var(--nav-current) solid;
  background: var(--nav-background);
}
.nav-link {
  width: calc(100% / 6);
  height: 100%;
  display: flex;
  color: var(--nav-link);
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
.nav-link:hover {
  color: var(--nav-link-hover);
}
body.index a.index,
body.about a.about,
body.location a.location,
body.sorrento a.sorrento,
body.prices a.prices,
body.contacts a.contacts {
  background: var(--nav-current);
}
@media (max-width: 680px) {
  #logo img, #logo a {
    width: 100%;
  }
}
@media (max-width: 480px) {
  #nav-bar-list {
    height: 6rem;
  }
  .nav-link {
  width: calc(100% / 3);
  height: 50%;
  }
}
/* header end */

/* main start */
main {
  width: 100%;
  margin: auto;
  background: var(--main-background);
  padding-top: 0rem;
}
.flex-container {
  display: flex;
  flex-direction: row;
  border-bottom: 3px var(--nav-current) solid;
  align-content: stretch;
  gap: 2%;
}
.content {
  width: 49%;
  height: fit-content;
  margin-top: 1rem;
}
h1 {
  font-size: 36px;
  color: #87423c;
  text-align: center;
  padding-bottom: 1rem;
}
h2 {
  font-size: 24px;
  color: #4d1d18;
  text-align: center;
  padding: 0.5rem 0;
}
main a {
  color: #87423c;
}
main p {
  text-align: justify;
  line-height: 150%;
  text-indent: 1.5rem;
  padding-bottom: 1rem;
}
.content img {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
}
body.index .content img {
  padding-bottom: 0;
}
.content iframe {
  display: block;
  width: 100%;
}
.content ul {
  list-style: square;
  text-align: justify;
  line-height: 150%;
  padding-left: 3rem;
}
.price {
  background: var(--price-background);
  padding: 0.3rem 0;
}
@media (max-width: 680px) {
  .flex-container {
    flex-direction: column;
    gap: 0;
  }
  body.index .flex-container {
    flex-direction: column-reverse;
  }
  .content {
    width: 100%;
  }  
}
/* main end */

/* testimonials start */
#testimonials {
  width: 40%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
  gap: 0.3rem;
}
@media (max-width: 1080px) {
  #testimonials {
    width: 60%;
    margin-top: 1.5rem;
  }
}
@media (max-width: 680px) {
  #testimonials {
    width: 80%;
    margin-top: 1.5rem;
  }
}
@media (max-width: 480px) {
  #testimonials {
    width: 100%;
    margin-top: 1rem;
  }
}
#testimonials ul {
  list-style: none;
  display: grid;
  align-items: center;
  justify-items: center;
}
#testimonials li {
  grid-column: 1;
  grid-row: 1;
  opacity: 0;
  font-style: italic;
  text-align: justify;
}
#testimonials img {
  display: block;
  width: 2rem;
  height: 2rem;
  background: white;
}
#quote-open {
  align-self: flex-start;
  transform: scaleX(-1) scaley(-1);
}
#quote-close {
  align-self: flex-end;
}
@keyframes testimonials {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  12.5% {
    opacity: 0;
  }
}
#test-1 {
  animation: testimonials 80s 0s infinite;
}
#test-2 {
  animation: testimonials 80s 10s infinite;
}
#test-3 {
  animation: testimonials 80s 20s infinite;
}
#test-4 {
  animation: testimonials 80s 30s infinite;
}
#test-5 {
  animation: testimonials 80s 40s infinite;
}
#test-6 {
  animation: testimonials 80s 50s infinite;
}
#test-7 {
  animation: testimonials 80s 60s infinite;
}
#test-8 {
  animation: testimonials 80s 70s infinite;
}
/* testimonials end */

/* footer start */
footer {
  width: 100%;
  margin: auto;
  padding-top: 2rem;
  font-size: 0.7rem;
  text-align: center;
  border-top: 3px var(--nav-current) solid;
  display: flex;
  flex-direction: column;
}
footer p,
footer a {
  color: #87423c;
}
#social-med-block {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 1rem;
}
#social-med-block li {
  width: fit-content;
  height: fit-content;
}
#social-med-block img {
  width: auto;
  height: auto;
  border-radius: 12px;
}
/* footer end */
